# Swift Package Manager
.build/
.swiftpm/
Package.resolved
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/

# Xcode
xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods (unused but pre-empt drift)
Pods/

# macOS
.DS_Store
